.leaderboard h1,
th,
td {
  color: white !important;
}

.leaderboard-header {
  color: white !important;
  text-align: center;
  font-size: 4em !important;
}

.table-container {
  margin-top: 5em;
}

.leaderboard table.table {
  margin: 0 auto;
  font-size: 2em;
}
