.sidebar {
  background: white;

  .ui.secondary.vertical.pointing.menu .active.item {
    border-color: #1aaaba;
  }
}

/* override */
.ui.fluid.pointing.secondary.vertical.menu {
  font-size: 1.2em;
}
