.block-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50vw;
  height: 8vh;
  margin-bottom: 3px;
  flex-direction: row;
  justify-content: center;
  align-content: center;
}

.block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50vw;
  height: 8vh;
  justify-content: center;
}

.block:hover {
  cursor: pointer;
}

.block-text {
  text-transform: uppercase;
  text-align: center;
  color: white;
  font-size: 2rem;
  font-weight: 800;
  vertical-align: middle;
  padding: 25px 0;
}
