.block-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 8vh;
  margin-bottom: 3px;
  justify-content: center;
}

.block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 50vw;
  height: 8vh;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  .div {
    width: 33%;
  }

  .inner-text {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-weight: 800;
    vertical-align: middle;

    .bonus-text {
      margin-top: 8px;
      font-size: 14px;
    }
  }
}

.block:hover {
  cursor: pointer;
}

.block-bottom {
  margin-top: 2px;
  transform: scale(1.06);
  // box-shadow: 4px -8px 20px 2px rgba(0, 0, 0.2, 0.2);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .inner-text {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2.9rem;
    font-weight: 900;
    vertical-align: middle;
    padding-top: 7px;
  }
}

.ui.mini.image#block-image {
  /* display: inline; */
  width: 4rem;
}
