@font-face {
  font-family: 'Baby Blocks';
  src: local('Baby Blocks'), url('../../assets/font/baby-blocks-font.ttf');
}

.block-wrapper {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  height: 8vh;
  margin-bottom: 3px;
  justify-content: center;
}

.block {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  width: 80%;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0;

  .div {
    width: 33%;
  }

  .inner-text {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 1.8em;
    font-weight: 800;
    vertical-align: middle;
    font-family: '8 Bit', sans-serif;
    padding-top: 0.9rem;

    .bonus-text {
      margin-top: 4px;
      font-size: 0.7rem;
      font-family: '8 Bit', sans-serif;
    }
  }
}

.block:hover {
  cursor: pointer;
}

.block-bottom {
  margin-top: 2px;
  padding: 1px 10px 0;
  transform: scale(1.1);
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);

  .inner-text {
    text-transform: uppercase;
    text-align: center;
    color: white;
    font-size: 2.2rem;
    font-weight: 900;
    vertical-align: middle;
    padding-top: 1rem;
  }
}

.ui.mini.image.block-image {
  /* display: inline; */
  width: 4rem;
}
