@font-face {
  font-family: '8 Bit';
  src: local('8 Bit'), url('../fonts/8bit-font.ttf');
}

.game-status-bar {
  margin-top: 30px;
  min-height: 12vh;
  display: flex;
  align-items: flex-start;
  flex-wrap: nowrap;
  font-size: 2em;
  font-family: '8 Bit', sans-serif;
}

.game-status-component {
  width: 50%;
  float: right;
}

.game-status-main {
  margin: auto 0;
  text-align: center;
  font-family: '8 Bit', sans-serif;
  font-size: 2em;
  line-height: 25rem;

  .header {
    font-size: 4rem;
  }

  .content {
    line-height: 5rem;
  }

  .flash {
    color: #848484;
    -webkit-animation: flash linear 1s infinite;
    animation: flash linear 1s infinite;
    font-size: 1.2rem;
  }
  @-webkit-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

.game-status-main:hover {
  cursor: pointer;
}

.ui.mini.image#onlycoin {
  display: inline;
}
