@font-face {
  font-family: '8 Bit';
  src: local('8 Bit'), url('../../assets/font/8bit-font.ttf');
}

.eight-bit-btn {
  font-family: '8 Bit' !important;
  font-size: 0.8em;
  padding-top: 2px;
}

.prize {
  font-size: 3vw;
  color: #ffeb00;
  background: black;
  padding: 1vw;
}

.game-status-bar {
  min-height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: nowrap;
  font-size: 1.8vw;
  font-family: '8 Bit', sans-serif;
}

.game-status-component {
  width: 33%;
  text-align: center;
  margin-top: 5px;

  .status-title {
    padding-left: 10px;
  }
}

.game-status-main {
  // margin: auto 0;
  text-align: center;
  font-family: '8 Bit', sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  height: 100%;

  .header {
    font-size: 9vw;
    line-height: 18vh;
    padding-top: 10vh;
  }

  .header:hover {
    cursor: pointer;
  }

  .header.gameover {
    font-size: 7vw;
    line-height: 18vh;
    padding-top: 5vh;
  }

  .content {
    line-height: 5rem;
  }

  .content.gameover {
    line-height: 5rem;
  }

  .gameover-message {
    font-size: 1rem;
  }

  .flash {
    color: #505050;
    -webkit-animation: flash linear 2s infinite;
    animation: flash linear 2s infinite;
  }
  @-webkit-keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes flash {
    0% {
      opacity: 1;
    }
    50% {
      opacity: 0.1;
    }
    100% {
      opacity: 1;
    }
  }
}

.message-wrapper {
  width: 100%;
  text-align: center;
  color: #db2828;
  font-family: '8 Bit';
  font-size: 2.5rem;
  position: absolute;
  top: 10vh;
}

.game-status-main .content:hover {
  cursor: pointer;
}

.ui.mini.image#onlycoin {
  display: inline;
}
