/* override button color */
.ui.primary.button {
  background-color: rgba(26, 170, 186, 0.95);
}

.ui.primary.button:hover {
  background-color: #24c2d4f2;
}

.rt-th {
  padding: 0 !important;
  background-color: #ffffff;
}

.ReactTable .rt-thead.-header {
  font-size: large;
  font-weight: bold;
}
