.app-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

/* override button color */
.ui.primary.button {
  background-color: rgba(26, 170, 186, 0.95);
}

.ui.primary.button:hover {
  background-color: #24c2d4f2;
}
