body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.site-content {
  min-height: 100vh;
  margin-bottom: -47px;
}

.site-content:after {
  content: '';
}
